* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.box {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
}

.button {
    background-color: #ffffff;
    padding: 0 20px;
    border-radius: 25px;
}

/* Primo Box */

.nav {
    width: 100%;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding-top: 10px;
}

.logo {
    position: absolute;
    left: 0;
}

.logo img {
    vertical-align: middle;
}

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding-right: 30px;
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
}

.access {
    position: absolute;
    right: 0;
    font-weight: bold;
}